h1, h2, h3, p {
    font-family:Arial Black;
    margin:10px;
}
h2 {
    color: rgb(230, 112, 16);
}
h3 {
    color: rgb(33, 75, 9);
}
a {
    display:block;
    margin:10px;
    color: rgb(113, 128, 29);
    text-decoration:none;
    font-size:25px;
    font-family:Lucida Console;
}
